html, body {
/*	margin: 0px;*/
	width: 100%;
	overflow: hidden;
}

.block {
	float: left; 
	background-color: #000; 
	background-size: cover;
	overflow: visible;
}

#photo-grid {
	padding: 0;
}


.block-row {
	padding: 0;
}